{% extends 'app/pages/blog/template.html.twig' %}

{% block title %}Les histoires de Burrito{% endblock %}

{% block main_content %}
    <div class="page-header">
        <div class="title-page">
            <h1>Les histoires d'el Burrito 🌯</h1>
            <p>
                A travers mes photos et récits, j'espère vous donner l'envie de voyager ou,
                du moins, de vous extirper de votre quotidien.
            </p>
        </div>
    </div>
    <div class="main-content">
        <div class="articles">
            <div class="line-1">
                <div class="col-1">
                    <a href="{{ path('blog_article_1') }}" class="main-card">
                        <div class="image">
                            <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                        </div>
                        <div class="date">27/01/1995</div>
                        <div class="title">Le début de l'expérience : la Colombie</div>
                        <div class="content">
                            <p>Je suis un texttexttexttexttexttexttext texttexttexttexttext...</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <div class="me-card">
                        <div class="avatar">
                            <img src="{{ asset('build/app/images/avatar.jpg') }}" alt="avatar chanbora chhun">
                        </div>
                        <div class="name">
                            <div>Chanbora</div>
                            <div>CHHUN</div>
                        </div>
                        <div class="socials">
                            <a href="https://www.instagram.com/shanbo_daltonien/" title="lien instagram">@shanbo_daltonien</a>
                        </div>
                        <div class="text">
                            Ma narration étant celle d'un gars qui n'a lu aucun livre, je comtpe bien m'améliorer au fil de mes posts !
                        </div>
                        <div class="contact">
                            <a href="#restons-en-contact" class="btn btn-danger">🤝 Discutons</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-2">
                <a href="/blog" class="card">
                    <div class="image">
                        <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                    </div>
                    <div class="date">27/01/1995</div>
                    <div class="title">Le début de l'expérience : la Colombie</div>
                    <div class="content">
                        <p>Je suis un texttexttexttexttexttexttext texttexttexttexttext...</p>
                    </div>
                </a>
                <a href="/blog" class="card">
                    <div class="image">
                        <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                    </div>
                    <div class="date">27/01/1995</div>
                    <div class="title">Le début de l'expérience avec la Colombie</div>
                    <div class="content">
                        <p>Je suis un texttexttexttexttexttexttext texttexttexttexttext...</p>
                    </div>
                </a>
                <a href="/blog" class="card">
                    <div class="image">
                        <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                    </div>
                    <div class="date">27/01/1995</div>
                    <div class="title">Le début de l'expérience avec la Colombie</div>
                    <div class="content">
                        <p>Je suis un texttexttexttexttexttexttext texttexttexttexttext...</p>
                    </div>
                </a>
                <a href="/blog" class="card">
                    <div class="image">
                        <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                    </div>
                    <div class="date">27/01/1995</div>
                    <div class="title">Le début de l'expérience avec la Colombie</div>
                    <div class="content">
                        <p>Je suis un texttexttexttexttexttexttext texttexttexttexttext...</p>
                    </div>
                </a>
                <a href="/blog" class="card">
                    <div class="image">
                        <img src="{{ asset('build/app/images/contact.jpg') }}" alt="Illustration colombie">
                    </div>
                    <div class="date">27/01/1995</div>
                    <div class="title">Le début de l'expérience avec la Colombie</div>
                    <div class="content">
                        <p>Je suis un texttexttexttexttexttexttext texttexttexttexttext...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
