{% extends 'app/layout/layout.html.twig' %}

{% block title %}Restons en contact ! {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Restons en contact !</h1>

        <div id="contact">
            {% include "dashboard/layout/components/spinner.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}