{% extends 'app/layout/layout.html.twig' %}

{% block meta_description %}
    Salut ! Je suis Chanbora Chhun, je suis un développeur web fullstack sur Marseille et ses alentours.
    Développeur Symfony, ReactJS, Javascript, Sass et bien d'autres technologies.
    A mes heures perdues je suis aussi photographe pour des mariages et cérénomies !
{% endblock %}
{% block meta_keywords %}developpeur web, developpeur, web, photographe, marseille, developpeur marseille, developpeur fullstack, fullstack{% endblock %}

{% block title %}Chanbora Chhun développeur web fullstack et photographe à Marseille{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}


{% block main_content %}
    <div class="home-header">
        <div class="home-header-container">
            <div class="col-1">
                <div class="present">
                    <div class="subtitle">Développeur et photographe <span>😳</span></div>
                    <h1>Salut, je m'appelle <br>
                        Chanbora Chhun. <br>
                        Je suis Développeur Web à Marseille.</h1>
                    <p>
                        En combo pour du développement web lourd, mon coup de coeur est le framework PHP Symfony couplé à du
                        ReactJs/Javascript natif et avec du Sass pour embellir le site internet ! <br>
                        Selon les projets je change mes technologies et je m'adapte rapidement à un nouveau langage
                        tant qu'il y a une documentation et une communauté active.
                    </p>

                    <div class="actions">
                        <a href="#restons-en-contact" class="btn btn-danger">🤝 Restons en contact !</a>
                        <a href="#mon-travail" class="btn btn-outline-danger">💪 Mon travail</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="image">
                    <img src="{{ asset('build/app/images/homepage.jpg') }}" alt="photo chanbora chhun">
                </div>
            </div>
        </div>
    </div>

    <div class="home-photographe">
        <div class="home-photographe-container">
            <div class="col-1">
                <div class="images">
                    <img src="{{ asset('build/app/images/eveil.jpg') }}" loading="lazy" alt="">
                    <img src="{{ asset('build/app/images/eveil.jpg') }}" loading="lazy" alt="">
                    <img src="{{ asset('build/app/images/perdu.jpg') }}" loading="lazy" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="home-photographe-content">
                    <div class="subtitle">Une vision obscure mais agréable 😈</div>
                    <h2>Passion photographie !</h2>
                    <p>
                        En plus du développement web, j'ai la chance d'avoir une autre passion qui
                        m'aide a m'évader et éviter d'être focus sur la même chose, la <b>photographie</b>.
                        <br><br>
                        J'ai débuté avec un reflex d'entrée de gamme en me disant simplement
                        que ça serait plus marrant de prendre des photos avec un vrai appareil qu'avec téléphone.
                        <br><br>
                        Puis, petit à petit, c'est devenu un réel plaisir d'immortaliser des instants de vie et
                        de pouvoir travailler une photo en y apportant une touche qui décrit ce que j'ai ressenti.
                        <br><br>
                        On ne s'en rend pas forcément compte, mais une photo permet de se
                        souvenir de tant de choses. Parfois elle permet de raconter toute une histoire à travers
                        sa luminosité, ses couleurs, sa composition et la vision du photograhe.
                    </p>
                    <div class="actions">
                        <a href="#restons-en-contact" class="btn btn-danger">🙋 Envie de parler photographie ?</a>
                        <a href="{{ path('app_photos') }}" class="btn btn-outline-danger">📸 Quelques clichés !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-contact" id="mon-travail">
        <div class="home-contact-container">
            <div class="home-contact-title">
                <h2>Gardons contact !</h2>
            </div>
            <div class="home-contact-content">
                <p>
                    N'hésites pas à me contacter à travers mon compte Instagram ou mon compte LinkedIn !
                    Que ce soit pour discuter d'un projet, échanger des informations en programmation web,
                    parler de technologies ou tout simplement discuter. 🙆‍
                </p>

                <div class="links">
                    <a target="_blank" href="https://www.instagram.com/shanbo_daltonien/">
                        <span>Instagram</span>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/chanbora-chhun-00a0a0112/">
                        <span>LinkedIn</span>
                    </a>
                    <a target="_blank" href="https://github.com/starozytny">
                        <span>Github</span>
                    </a>
                </div>

                <p>
                    Au fur et à mesure, je vais remplir ce site avec des projets personnels qui seront,
                    pour la grande majorité, totalement gratuits d'utilisations (gestionnaire de budget,
                    partage de recettes de cuisines, blog aventures en randonnées et en voyages).
                    <br>
                    🥳
                </p>

                <div class="links">
                    <a href="https://nompaw.fr" target="_blank" style="text-decoration: underline;">Découvres Nompaw.fr !</a>
                </div>

                <p style="margin-top: 12px;">
                    Tu peux rester informé des nouvelles mises à jour grâce au formulaire juste en dessous !
                    Je garderai ton adresse e-mail exclusivement pour cet usage.
                </p>

                <form action="{{ path('app_stay_touch') }}" method="POST">
                    <input type="email" name="email" id="email" placeholder="Adresse e-mail">
                    <button type="submit" class="btn btn-danger">
                        <span class="icon-email"></span>
                        <span>Reste informé !</span>
                    </button>

                    <input type="hidden" name="critere" value="critere">
                </form>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-primary" style="margin-top: 12px;">
                        <p>{{ flashMessage }} 👌</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
